<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body>
<div id="app">
  <div class="jumbotron" style="background-color: darkseagreen">
    <div class="container text-center">
      <h1>Card Shuffling</h1>
      <button style="background-color: #00d1b2" @click="displayInitialDeck()">Deal</button>
      <p>{{resultString}}</p>
      <p>{{score}}</p>
      <p>{{currentScore}}</p>
    </div>
  </div>



  <div class="container-fluid bg-3 text-center">
<!--    <h3>Some of my Work</h3><br>-->
    <div class="row"  style="margin-left:15%">
      <div class="col-sm-2" v-for="card in cards" :class="[card.rank ,card.suit]">
        <img :src="card.image" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/vueDoc.js"></script>
</body>
</html>